
  <body>
  
    <%- include("partials/header.ejs") %>

    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
<div  class="boton-index">
  <button><a href="/movies" class="boton">Mostrar listado de Película</a></button>
</div>
   <div class="boton-index" >
    <button ><a href="/movies/add" class="boton">Ingresar Peículas</a></button>  

   </div>
   
  </body>
</html>
