
<!DOCTYPE html>
<html>
  <head>

    <% if(title) { %>
    <title><%= title %></title>
    <% } %>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
<header>
      <figure>
  
        <img src="../img/logo-DH.png" alt="Logo Digital House">
      
      </figure>
  
      


    
